<div id="login" class="modal hide fade" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Log In</h3>
  </div>

  <div class="modal-body">
    <%= form_tag "/auth/identity/callback", class: "form-horizontal login" do %>
      <div class="control-group">
        <label class="control-label" for="identity_email">Email</label>
        <div class="controls">
          <input type="text" id="identity_email" name="auth_key" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="identity_password">Password</label>
        <div class="controls">
          <input type="password" id="identity_password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-primary">Log In</button>
        </div>
      </div>

      <div class="control-group">
        <div class="controls social">
          <a href="/auth/github" class="btn">Login via Github</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
