<div class="container">
  <ul class="footer-nav inline pull-right">
    <li>Designed and built with the love by <a href="http://twitter.com/yedingding">@yedingding</a>.</li>
  </ul>

  <ul class="footer-nav inline">
    <li>&copy; 2013 Dingding Ye.</li>
    <li><a href="https://pragmatic.ly">Pragmatic.ly</a></li>
    <li><a href="http://yedingding.com">Blog</a></li>
  </ul>
</div>
