<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Simple Forum</a>
    <ul class="nav pull-right">
      <li><a href="#">Dingding</a></li>
      <li>
        <img alt="Dingding Ye" height="36px" src="https://secure.gravatar.com/avatar/83c8cca11558f32207645ca270ae8475?size=36" width="36px">
      </li>
    </ul>
  </div>
</div>
